material/simfang.ttf
material/drawable/sponza
material/drawable/skybox
material/drawable/uiImage
material/drawable/hdr
thirdparty/assimp

material/drawable/brass_vase_03_arm_2k.jpg
material/drawable/brass_vase_03_diff_2k.jpg
material/drawable/brass_vase_03_nor_gl_2k.jpg
material/drawable/Cerberus_A.tga
material/drawable/Cerberus_M.tga
material/drawable/Cerberus_N.tga
material/drawable/Cerberus_R.tga
material/drawable/dragon.png
material/drawable/coffee_table_round_01_arm_2k.jpg
material/drawable/coffee_table_round_01_diff_2k.jpg
material/drawable/coffee_table_round_01_nor_gl_2k.jpg
