resource/simfang.ttf
resource/aliFont.ttf
resource/myfont.data
resource/drawable/sponza
resource/drawable/skybox
resource/drawable/uiImage
resource/drawable/hdr
thirdparty/assimp

resource/drawable/brass_vase_03_arm_2k.jpg
resource/drawable/brass_vase_03_diff_2k.jpg
resource/drawable/brass_vase_03_nor_gl_2k.jpg
resource/drawable/Cerberus_A.tga
resource/drawable/Cerberus_M.tga
resource/drawable/Cerberus_N.tga
resource/drawable/Cerberus_R.tga
resource/drawable/dragon.png
resource/drawable/coffee_table_round_01_arm_2k.jpg
resource/drawable/coffee_table_round_01_diff_2k.jpg
resource/drawable/coffee_table_round_01_nor_gl_2k.jpg
resource/drawable/Camera_01_body_arm_2k.jpg
resource/drawable/Camera_01_body_diff_2k.jpg
resource/drawable/Camera_01_body_nor_gl_2k.jpg
resource/drawable/Camera_01_lens_body_arm_2k.jpg
resource/drawable/Camera_01_lens_body_diff_2k.jpg
resource/drawable/Camera_01_lens_body_nor_gl_2k.jpg
resource/drawable/Camera_01_strap_arm_2k.jpg
resource/drawable/Camera_01_strap_diff_2k.jpg
resource/drawable/Camera_01_strap_nor_gl_2k.jpg
